@media only screen and (max-width: 1200px) {
  .hero-text-box {
    max-width: 100%;
    padding: 0 2%;
  }
  .row {
    padding: 0 2%;
  }
}

@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 60px 0;
  }

  .long-copy {
    width: 90%;
    margin-left: 5%;
  }
  .mobile {
    width: 90%;
  }
  .works-step {
    margin-bottom: 30px;
  }

  .icon-small {
    width: 30px;
  }

  .city-feature {
    font-size: 90%;
  }

  .full-btn:link,
  .full-btn:visited {
    margin-bottom: 10px;
  }

  .hero-text-box {
    font-size: 80%;
  }

  .plan-box {
    width: 100%;
    margin-left: 0;
  }

  .steps-box:first-child {
    padding-right: 3%;
    margin-top: 10px;
  }

  .steps-box:last-child {
    padding-left: 3%;
    margin-top: 10px;
  }

  .section-cities {
    margin-top: -30px;
    margin-bottom: -40px;
  }
  .section-meals{
      padding: 0 0;
  }

  .plan-price{
      font-size: 240%;
  }
  .contact-form{
      width: 90%;
  }

  .footer-nav li, .social-links li {
    margin-right: 15px;
    font-size: 15px;
}
}

@media only screen and (max-width: 767px) {
    body{font-size: 16px;}
    section{padding: 30px 0;}
    .row,.hero-text-box{padding: 0 4%;}
    .col{ width: 100%;margin: 0 0 4% 0;}
    .main-nav{display: none;}
    .logo{height: 48px;}
    .hero-text-box{letter-spacing: 0; word-spacing: 3px;}
    .section-cities{margin: 15px 0;}
    h1{font-size: 180%;}
    h2{font-size: 150%;}
}

@media only screen and (max-width: 480px) {
    section{padding: 25px 0;}
    .contact-form{width: 100%;}
    h1{font-size: 120%;}
    h2{font-size: 120%;}
}
